---
// Components
import Header from "../../components/Header.astro"
import Pagination from "../../components/Pagination.astro"
import BlogCard from "../../components/BlogCard.astro"

// Utils
import getSortedPosts from "../../utils/getSortedPosts"

// Layout
import Layout from "../../layouts/Layout.astro"

// Astro
import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"

export const getStaticPaths = (async ({ paginate }) => {
	const posts = await getCollection("blog", ({ data }) => !data.draft)
	const sortedPosts = getSortedPosts(posts)
	return paginate(sortedPosts, { pageSize: 4 })
}) satisfies GetStaticPaths

const { page } = Astro.props
---

<Layout title="Posts">
	<Header />
	<main class="main-container">
		<div class="posts-container">
			<h1>Posts</h1>
			<p>All of my posts.</p>
			<ul class="post-list-container">
				{
					page.data.map(({ data, slug }) => (
						<BlogCard href={`/posts/${slug}`} blogInfo={data} />
					))
				}
			</ul>
		</div>

		<Pagination page={page} />
	</main>
</Layout>

<style>
	.main-container {
		display: flex;
		flex-direction: column;

		height: 80vh;
	}

	.posts-container {
		flex-grow: 1;
	}
</style>
