/* Defining Global Variables */
:root {
	/* Screen Sizes */
	--sm: 640px;
	--md: 768px;
	--lg: 1024px;
	--xl: 1280px;
	--2xl: 1536px;

	/* Light / Dark */
	color-scheme: light dark;

	/* Light Color Scheme */
	--light-bg: #ebebeb;
	--light-text: #000000;
	--light-text-secondary: #5c6166;
	--light-accent: #1f8ad5;
	--light-code: #cdcdcd;

	/* Dark Color Scheme */
	--dark-bg: #242936;
	--dark-text: #fcfcfc;
	--dark-text-secondary: #c1d0dec5;
	--dark-accent: #73d0ff;
	--dark-code: #7989aa4a;
}

/* Global Styles */
body {
	/* Spacing */
	margin: 0;
	padding: 13px;

	overflow-y: scroll;

	/* Text */
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color: light-dark(var(--light-text), var(--dark-text));

	/* BG color */
	background-color: light-dark(var(--light-bg), var(--dark-bg));
}

/* Media Queries */
@media (min-width: 768px) {
	body {
		padding: 0;
	}
}

p {
	/* Text */
	font-size: 20px;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
}

/* Used for Displaying a list of Posts */
.post-list-container {
	/* Spacing */
	padding: 0;

	/* Flex Box */
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.post-list-container li {
	/* Remove Bullet Points */
	list-style-type: none;
}

/* Used as a container for main content of all pages */
.main-container {
	/* Spacing */
	margin: 0 auto;
	padding: 0;

	/* Sizing */
	max-width: var(--md);
	width: 100%;
}

/* SVG Icon of the socials */
.icon-tabler {
	/* Sizing */
	height: 1.5rem;
	width: 1.5rem;

	/* Transform */
	transform: scale(1.25);

	/* SVG Attributes */
	fill: transparent;
	stroke: light-dark(var(--light-text), var(--dark-text));
	stroke-width: 2;
}

.icon-tabler:hover {
	/* On Hover, change color to accent */
	stroke: light-dark(var(--light-accent), var(--dark-accent));

	/* On Hover rotate icon & maintain size*/
	transform: rotate(10deg) scale(1.25);
}

.markdown img {
	height: auto;
	width: 100%;
}

/* Markdown Styling */
.markdown article {
	margin: 0;
}

.markdown p {
	line-height: 30px;

	/* Text */
	font-size: 17px;
	font-weight: 500;
}

.markdown h2 {
	margin-top: 40px;
}

.markdown h3 {
	margin-top: 30px;
}

/* Code Blocks */
.markdown .astro-code {
	/* Text */
	font-size: 17px;

	/* Spacing */
	padding: 15px;

	/* Border */
	border-radius: 10px;
	border-width: 1px;
	border-color: light-dark(var(--light-accent), var(--dark-accent));
	border-style: solid;

	/* BG Color */
	/* background-color: #12151cb3 !important; */
}

.markdown li {
	margin-top: 15px;
}

.markdown a {
	color: light-dark(var(--light-accent), var(--dark-accent));
}

.markdown details li a {
	color: light-dark(var(--light-text), var(--dark-text));
}

.markdown details li a:hover {
	color: light-dark(var(--light-accent), var(--dark-accent));
}

.markdown summary {
	cursor: pointer;
}

.markdown ol code,
.markdown p code {
	/* Spacing */
	padding: 3px;

	/* BG */
	background-color: light-dark(var(--light-code), var(--dark-code));

	/* Rounding Borders */
	border-radius: 3px;
}
