---
// Layout
import Layout from "../../layouts/Layout.astro"

// Components
import Header from "../../components/Header.astro"

// Tag Util Function
---

<Layout title="Tags">
	<Header />
	<main class="main-container"></main>
</Layout>
