---
// Components
import Header from "../components/Header.astro"

import Layout from "../layouts/Layout.astro"
---

<Layout title="Kyle Hu">
	<Header />
	<main class="main-container">
		<>Welcome to my Portfolio</>
	</main>
</Layout>
