---
// Components
import Header from "../components/Header.astro"
import Socials from "../components/Socials.astro"
import Hr from "../components/Hr.astro"
import BlogCard from "../components/BlogCard.astro"

// Layout
import Layout from "../layouts/Layout.astro"

// Utils
import getSortedPosts from "../utils/getSortedPosts"

// Astro
import { getCollection } from "astro:content"

// Get posts
const posts = await getCollection("blog")
const sortedPosts = getSortedPosts(posts)

const workPosts = sortedPosts.filter(
	({ data }) => data.tags && data.tags.includes("work")
)
---

<Layout title="Kyle Hu">
	<Header />
	<main class="main-container">
		<!-- Main Hero -->
		<section class="hero">
			<h1>Kyle Hu</h1>
			<p>
				I am a software engineer who is pursuing full stack development.
				I also enjoy writing blogs about leetcode and documenting my
				projects. Thank you for looking at my profile.
			</p>

			<!-- Social Stuff -->
			<div class="social-container">
				<p>Links:</p>
				<Socials />
			</div>
		</section>

		<Hr />

		<!-- Experience -->
		<section>
			<h2>Experience</h2>
		</section>

		<!-- Projects -->
		<section>
			<ul class="post-list-container">
				{
					workPosts.map(({ data, slug }) => (
						<BlogCard href={`/posts/${slug}`} blogInfo={data} />
					))
				}
			</ul>
		</section>
	</main>
</Layout>

<style>
	.hero {
		/* Spacing */
		margin-top: 40px;
	}

	.social-container {
		/* Flex Box */
		display: flex;
		align-items: center;
		gap: 5px;
	}

	h1 {
		/* Spacing */
		margin: 0;

		/* Text */
		font-size: 50px;
	}

	p {
		/* Text */
		font-size: 20px;
		font-weight: 300;
		line-height: 1.5;
	}
</style>
