---
// Components
import Header from "../components/Header.astro"

import Layout from "../layouts/Layout.astro"
---

<Layout title="Posts">
	<Header />
	<main class="main-container">
		<h1>Posts</h1>
		<p>Blogs that I have written.</p>
	</main>
</Layout>

<style></style>
