<header id="header-container">
	<nav class="nav-container">
		<a class="home-link" href="/">Home</a>
		<!-- Hamburger Menu -->
		<button
			class="hamburger-button"
			aria-label="Open Menu"
			aria-expanded="false"
			aria-controls="menu-items">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1.5"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="menu-icon">
				<line x1="7" y1="12" x2="21" y2="12" class="line"></line>
				<line x1="3" y1="6" x2="21" y2="6" class="line"></line>
				<line x1="12" y1="18" x2="21" y2="18" class="line"></line>
				<line x1="18" y1="6" x2="6" y2="18" class="close"></line>
				<line x1="6" y1="6" x2="18" y2="18" class="close"></line>
			</svg>
		</button>

		<!-- Main Nav Links -->
		<ul class="nav-links">
			<li><a href="/posts">Posts</a></li>
			<li><a href="/tags">Tags</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
</header>

<style>
	/* Main Container */
	#header-container {
		/* Spacing */
		margin: 0 auto;

		padding: 25px 0;

		/* Sizing */
		max-width: var(--md);

		/* Border */
		border-bottom: 1px solid rgb(211, 211, 211);
	}

	/* Actual Nav Container 
        - Contains the home button, nav links, and the menu button
    */
	.nav-container {
		/* Grid */
		display: grid;
		grid-template-columns: 1fr auto;

		/* Flex Box */
		justify-content: center;
		align-items: center;
	}

	/* Home Button in Navbar (Mobile)*/
	.home-link {
		/* Text */
		font-size: 22px;
	}

	/* Desktop Sizes */
	@media (min-width: 640px) {
		.home-link {
			font-size: 25px;
		}
	}

	/* Nav bar cint */
	.nav-links {
		/* Flex Box */
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;

		/* Text */
		text-align: center;
	}

	@media (max-width: 640px) {
		.nav-links {
			display: none;
			gap: 30px;
		}

		.nav-links.open {
			display: flex;
		}
	}

	@media (min-width: 640px) {
		.nav-links {
			flex-direction: row;
		}
	}

	.nav-links li {
		/* Text */
		font-size: 18px;

		/* Remove Bullet Points */
		list-style-type: none;
	}

	.nav-links li:hover {
		color: light-dark(var(--light-accent), var(--dark-accent));
	}

	.hamburger-button {
		background: none;
		color: inherit;
		border: none;
		padding: 0;
		cursor: pointer;
	}

	@media (min-width: 640px) {
		.hamburger-button {
			display: none;
		}
	}

	/* Mobile SVG Icon */
	.menu-icon .line {
		opacity: 1;
		transition: opacity 0.2s ease-in-out;
	}

	.menu-icon .close {
		opacity: 0; /* Start hidden */
		transition: opacity 0.2s ease-in-out;
	}

	/* When active, hide lines and show close icon */
	.menu-icon.is-active .line {
		opacity: 0;
	}

	.menu-icon.is-active .close {
		opacity: 1;
	}
</style>

<script>
	const toggleNav = () => {
		const hamburgerButton = document.querySelector(".hamburger-button")
		const svgIcon = document.querySelector(".menu-icon")
		const navLinks = document.querySelector(".nav-links")

		hamburgerButton?.addEventListener("click", () => {
			const menuExpanded =
				hamburgerButton.getAttribute("aria-expanded") === "true"

			svgIcon?.classList.toggle("is-active")

			hamburgerButton.setAttribute(
				"aria-expanded",
				menuExpanded ? "false" : "true"
			)

			hamburgerButton.setAttribute(
				"aria-label",
				menuExpanded ? "Open Menu" : "Close Menu"
			)

			navLinks?.classList.toggle("open")
		})
	}

	toggleNav()

	document.addEventListener("astro:after-swap", toggleNav)
</script>
